@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 7%; /* Slate 950 */
    --foreground: 214 32% 91%; /* Slate 200 */
    --border: 215 28% 17%; /* Slate 800 */
    --primary: 199 89% 48%; /* Sky 500 (Cyan oscuro) */
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-slate-300 font-sans;
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    @apply bg-cyan-900 text-cyan-100;
  }

  /* Scrollbar técnica e invisible casi */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-500;
  }
}

@layer components {
  .container-px {
    @apply px-6 sm:px-10 lg:px-16;
  }

  /* Nuevo grid de fondo técnico (Azul oscuro) */
  .cyber-grid {
    background-size: 30px 30px;
    background-image: 
      linear-gradient(to right, rgba(14, 165, 233, 0.04) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(14, 165, 233, 0.04) 1px, transparent 1px);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
}